
AWS_ACCOUNT_ID=123456789012
AWS_REGION=us-east-1

ECS_CLUSTER=euglena-cluster

AWS_SECRET_NAME=euglena-secrets
AWS_SECRET_ARN_SUFFIX=

SERVICE_DISCOVERY_NAMESPACE=euglena.local
GATEWAY_SERVICE_NAME=euglena-gateway

